.tool-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #FFF766;
  border: 1px solid #000000;
  box-shadow: 5px 5px 0px #000000;
  border-radius: 10px;
}

.logo {
  width: 65px;
  height: 65px;
  margin-bottom: 1rem; 
  background-color: #000000;
  border-radius: 100%;
}

.tool-name {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
