main {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  align-self: flex-end;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;

  text-shadow: 2px 2px 0px #000000, 0px 0px 2px #000000;
}

#add-button {
  align-self: flex-start;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: #9059FF;
  border: 1px solid #000000;
  box-shadow: 2px 2px 0px #000000;

  color: white;
  font-weight: bold;
  font-size: 45px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 2px 2px 0px #000000, 0px 0px 2px #000000;
}

.deck-user {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-auto-rows: 190px;
  grid-gap: 20%;
}

.tool-space {
  display: flex;
  flex-direction: column;
}

.tool-space > .tool-card {
  height: 160px;
}

#delete-tool {
  position: relative;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  align-self: flex-end;
  border-radius: 5px;
  background-color: #ff3333;
  border: 1px solid #000000;
  box-shadow: 2px 2px 0px #000000;

  color: white;
  text-align: center;
  font-weight: bold;
}
